/* ==========================================================================
   Base
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #555;
}
/* FONT FACE ON */
@font-face {
  font-family: 'JanepixHandwriting';
  src: url('../fonts/JanepixHandwriting.eot?') format('eot'), url('../fonts/JanepixHandwriting.woff') format('woff'), url('../fonts/JanepixHandwriting.ttf') format('truetype'), url('../fonts/JanepixHandwriting.svg#JanepixHandwriting') format('svg');
}
.janepix {
  font-family: 'JanepixHandwriting', arial, san-serif;
  font-weight: normal !important;
}
/* FONT FACE OFF */
.CAPS {
  text-transform: uppercase;
}
.bg_white {
  background-color: #ffffff;
}
/*------------------------------------ Miscelaneos ------------------------------------*/
/* Margins */
.margin_top {
  margin-top: 2.18em;
}
.margin_left {
  margin-left: 2.18em;
}
.margin_right {
  margin-right: 2.18em;
}
.margin_bottom {
  margin-bottom: 2.18em;
}
.margin_top_large {
  margin-top: 4.68em;
}
.margin_left_large {
  margin-left: 4.68em;
}
.margin_right_large {
  margin-right: 4.68em;
}
.margin_bottom_large {
  margin-bottom: 4.68em;
}
.margin_top_medium {
  margin-top: 1.56em;
}
.margin_left_medium {
  margin-left: 1.56em;
}
.margin_right_medium {
  margin-right: 1.56em;
}
.margin_bottom_medium {
  margin-bottom: 1.56em;
}
.margin_top_small {
  margin-top: 1em;
}
.margin_left_small {
  margin-left: 1em;
}
.margin_right_small {
  margin-right: 1em;
}
.margin_bottom_small {
  margin-bottom: 1em;
}
.margin_top_xsmall {
  margin-top: 0.5em;
}
.margin_left_xsmall {
  margin-left: 0.5em;
}
.margin_right_xsmall {
  margin-right: 0.5em;
}
.margin_bottom_xsmall {
  margin-bottom: 0.5em;
}
.margin_large {
  margin: 4.68em;
}
.margin_medium {
  margin: 1.56em;
}
.margin_small {
  margin: 1em;
}
.margin_xsmall {
  margin: 0.5em;
}
.margin_top_large_minus {
  margin-top: -4.68em;
}
.margin_left_large_minus {
  margin-left: -4.68em;
}
.margin_right_large_minus {
  margin-right: -4.68em;
}
.margin_bottom_large_minus {
  margin-bottom: -4.68em;
}
.margin_left_minus {
  margin-left: -1em;
}
.margin_right_minus {
  margin-right: -1em;
}
.margin_top_minus {
  margin-top: -1em;
}
.margin_bottom_minus {
  margin-bottom: -1em;
}
.margin_left_medium_minus {
  margin-left: -1.56em;
}
.margin_right_medium_minus {
  margin-right: -1.56em;
}
.margin_top_medium_minus {
  margin-top: -1.56em;
}
.margin_bottom_medium_minus {
  margin-bottom: -1.56em;
}
.margin_left_small_minus {
  margin-left: -0.5em;
}
.margin_right_small_minus {
  margin-right: -0.5em;
}
.margin_top_small_minus {
  margin-top: -0.5em;
}
.margin_bottom_small_minus {
  margin-bottom: -0.5em;
}
.margin_top_xsmall_minus {
  margin-top: -7px;
}
.margin_left_xsmall_minus {
  margin-left: -7px;
}
.margin_right_xsmall_minus {
  margin-right: -7px;
}
.margin_bottom_xsmall_minus {
  margin-bottom: -7px;
}
/* No margin */
.no_margin_left {
  margin-left: 0;
}
.no_margin_right {
  margin-right: 0;
}
.no_margin_top {
  margin-top: 0;
}
.no_margin_bottom {
  margin-bottom: 0 !important;
}
/* Paddings */
.padding_top_large {
  padding-top: 4.68em;
}
.padding_left_large {
  padding-left: 4.68em;
}
.padding_right_large {
  padding-right: 4.68em;
}
.padding_bottom_large {
  padding-bottom: 4.68em;
}
/* algo aqui */
.padding_top {
  padding-top: 2.18em;
}
.padding_left {
  padding-left: 2.18em;
}
.padding_right {
  padding-right: 2.18em;
}
.padding_bottom {
  padding-bottom: 2.18em;
}
.padding_top_medium {
  padding-top: 1.56em;
}
.padding_left_medium {
  padding-left: 1.56em;
}
.padding_right_medium {
  padding-right: 1.56em;
}
.padding_bottom_medium {
  padding-bottom: 1.56em;
}
.padding_top_small {
  padding-top: 1em;
}
.padding_left_small {
  padding-left: 1em;
}
.padding_right_small {
  padding-right: 1em;
}
.padding_bottom_small {
  padding-bottom: 1em;
}
.padding_top_xsmall {
  padding-top: 0.5em;
}
.padding_left_xsmall {
  padding-left: 0.5em;
}
.padding_right_xsmall {
  padding-right: 0.5em;
}
.padding_bottom_xsmall {
  padding-bottom: 0.5em;
}
.padding_large {
  padding: 4.68em;
}
.padding_medium {
  padding: 1.56em;
}
.padding_small {
  padding: 1em;
}
.padding_xsmall {
  padding: 0.5em;
}
/* Textos */
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
.text_align_center {
  text-align: center;
}
/* titles */
.title_xlarge {
  font-size: 45px;
}
.title_large {
  font-size: 30px;
}
.title_medium {
  font-size: 24px;
}
.transition_all {
  transition: ease .5s all;
  -webkit-transition: ease .5s all;
  -moz-transition: ease .5s all;
  -o-transition: ease .5s all;
}
.btn,
.alert {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
}
.btn-warning {
  background-color: #ffe45c;
  border-color: #f5cc00;
  border-width: 0 0 3px 0;
  color: #8f7700;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
.btn-warning:hover {
  background-color: #ffdc29;
  color: #ffffff;
  border-color: #dcb700;
}
/* ==========================================================================
   Cuerpo de la pagina ON */
.navegacion-superior {
  background-color: #ffffff;
  border-color: #ddd;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.main-content {
  background-color: #fbfbfb;
  padding-top: 1.56em;
  padding-bottom: 2.18em;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
  color: #666666;
  font-size: 25px;
  font-weight: 400;
}
.navegacion-principal h3 {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 15px;
}
.navegacion-principal li {
  border-bottom: 1px solid #fbfbfb;
}
.navegacion-principal li a {
  color: #666666;
}
.navegacion-principal small {
  display: block;
}
.footer {
  padding-top: 2.18em;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}
/* Cuerpo de la pagina OFF
   ========================================================================== */
/* ==========================================================================
   CAJA DE PRODUCTO ON */
.caja {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -ms-border-radius: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* CAJA DE PRODUCTO OFF
   ========================================================================== */
/* IMAGENES ON */
.grid_imagenes ul {
  list-style: none;
}
.grid_imagenes li {
  border: 1px solid #DDDDDD;
  float: left;
  list-style: none outside none;
  margin: 0 10px 30px;
  padding: 5px;
  position: relative;
}
.grid_imagenes li:hover {
  background: #eee;
  border-color: #ccc;
}
.grid_imagenes span {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 2px solid #FFFFFF;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 1px 1px 5px #888888;
  color: #666666;
  cursor: pointer;
  display: block;
  font-family: arial;
  font-size: 9px;
  font-weight: bold;
  height: 15px;
  position: absolute;
  left: -10px;
  text-align: center;
  top: -10px;
  width: 15px;
}
.grid_imagenes span:hover {
  color: #c00;
}
/* IMAGENES OFF */
